[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apistar = {git = "https://github.com/encode/apistar.git", editable = true, ref = "level-up"}
dramatiq = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
twine = "*"
bumpversion = "*"
gunicorn = "*"
